/* ==========================================================================
  Global Styles
  ========================================================================== */
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13pt;
  font-weight: 300;
  line-height: 1.65;
  background: #697ec2 linear-gradient(105deg, #6e84c7, #426be4);
}

img.logo {
  display: block;
  margin: 0 auto;
}

/* ==========================================================================
  Error bar
  ========================================================================== */
.error-message {
  display: block;
  margin: 10px;
  padding: 10px;
  background-color: #d51313;
  color: #fff;
  font-weight: normal;
  text-align: center;
}

/* ==========================================================================
  Character List
  ========================================================================== */
ul.unstyled {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.character-list {
  display: block;
  text-align: center;
}

ul.character-list > li {
  display: inline-block;
  margin: 8px;
  color: #3d3e41;
  border: white solid 4px;
  border-radius: 10px;
  background: #cfd5ed linear-gradient(95deg, #cfd5ed, #eaecf7);
  text-align: left;
}

ul.character-list > li.loading {
  display: block;
  text-align: center;
}

ul.related-characters {
  position: relative;
  width: 440px;
  height: 250px;
  overflow: hidden;
  font-size: 10pt;
}

ul.related-characters > li.not-empty {
  cursor: pointer;
}

ul.related-characters > li.not-empty:hover {
  background-color: #eaecf7;
}

ul.related-characters > li.hero {
  display: block;
}

ul.related-characters > li.hero > img.avatar {
  float: left;
  margin: 10px;
  height: 120px;
  width: 120px;
  border: #3d3e41 solid 2px;
}

ul.related-characters > li.hero > .info {
  padding: 10px 10px 0 140px;
}

ul.related-characters > li.hero > .info > .name {
  font-weight: bold;
  font-size: 16pt;
}

ul.related-characters > li.hero > .info > .powers:before {
  display: block;
  content: 'Powers:';
  font-weight: bold;
}

ul.related-characters > li.hero > .info > .weakness:before {
  display: block;
  content: 'Weakness:';
  font-weight: bold;
}

ul.related-characters > li.hero > .info > .powers,
ul.related-characters > li.hero > .info > .weakness {
  max-height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul.related-characters > li.sidekick,
ul.related-characters > li.nemesis {
  width: 49%;
  padding: 10px;
}

ul.related-characters > li.sidekick {
  float: left;
  clear: both;
}

ul.related-characters > li.nemesis {
  float: right;
}

ul.related-characters > li.sidekick:before,
ul.related-characters > li.nemesis:before {
  display: block;
  font-weight: bold;
}

ul.related-characters > li.sidekick:before {
  content: 'Sidekick:';
}

ul.related-characters > li.nemesis:before {
  content: 'Nemesis:';
}

ul.related-characters > li.sidekick > img.avatar,
ul.related-characters > li.nemesis > img.avatar {
  float: left;
  height: 60px;
  width: 60px;
  margin-right: 10px;
}

ul.related-characters > li.sidekick > img.avatar {
  border: #2e58d3 solid 2px;
}

ul.related-characters > li.nemesis > img.avatar {
  border: #e41111 solid 2px;
}

ul.related-characters > li.empty {
  color: #b1b0b0;
}

ul.related-characters > li.empty > img.avatar {
  border: #b1b0b0 solid 2px;
}

/* ==========================================================================
  Character Details
  ========================================================================== */
li.character > .character-details {
  display: none;
}

li.character:hover > .character-details {
  display: block;
}

.character-details {
  position: fixed;
  top: 15px;
  left: 10px;
  width: 550px;
  height: 350px;
  z-index: 1;
  margin: 8px;
  color: #3d3e41;
  border: #000 solid 4px;
  border-radius: 10px;
  background: #fff linear-gradient(95deg, #fff, #cfd5ed);
  text-align: left;
  overflow: hidden;
}

.character-details > img.avatar {
  float: left;
  margin: 10px;
  height: 200px;
  width: 200px;
  border: #3d3e41 solid 2px;
}

.character-details > .info {
  padding: 10px 10px 0 220px;
}

.character-details > .info > .name {
  font-weight: bold;
  font-size: 20pt;
  margin: 0;
}

.character-details > .info > .powers,
.character-details > .info > .weakness {
  margin: 0;
  padding: 0;
}

.character-details > .info > .powers > li,
.character-details > .info > .weakness > li {
  margin-left: 20px;
}

.character-details > .info > .powers:before {
  display: block;
  content: 'Powers:';
  font-weight: bold;
}

.character-details > .info > .weakness:before {
  display: block;
  content: 'Weakness:';
  font-weight: bold;
}

.character-details > .bio:before {
  display: block;
  content: 'Biography:';
  font-weight: bold;
}

.character-details > .bio {
  display: block;
  clear: both;
  padding: 0 10px;
  max-height: 100px;
  overflow: auto;
  font-size: larger;
}